.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.input21{
  margin-top: 10px;
  width: 300px;
  margin-left: 15px;
}
.formlogin{
  padding-top: 5px;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
margin-left: 150px !important;
background-color: white;

}
.accountb{
  margin-left: 40px;
}
.forw{
  margin-left: 28px;
}

@media screen and (max-width : 480px) {
  .forw{
  margin-left: 0px;
  }
  .formlogin{
      padding-top: 5px;
      border: 1px solid black;
      width: 400px;
      height: 450px;
      padding-bottom: 10px;
  margin-left: 0px !important;
  background-color: white;
  
  }
  .loginform{
      width: 250px !important;
  }
  .loginbuton{
      width: 100px !important;
      height: 35px !important;
      padding-bottom: 35px;
  }
  .forgotpas{
      margin-left: 140px !important;
  }
  .creataccou{
      border: 1px solid black ;
      width: 400px;
      height: 400px;
      background-color: white;
      padding-top: 15px;
      margin-left: 0px !important;
      margin-top: 15px;
  }
  .freedd{
      display: none !important;
  }
  .inpu1{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .inpu{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .inpu11{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .phone{
    margin-right:   0px;
  }
  .ti{
    margin-left: 0px !important;
  }
  .email{
    margin-left: 0px !important;
  }
  .repass{
    margin-right: 0px;
  }
  .Company{
    margin-left: 0px !important;
  }
  .Company1{
    margin-right: 0px ;
    margin-left: 0px !important;
  }
  .Company2{
    margin-right: 0px ;
  }
  .input12{
    margin-left: 0px !important;
    width: 300px;
    margin-top: 10px;
  }
  .in{
    margin-left:0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .in1{
    margin-top: 0px;
    width: 300px;
    margin-left: 0px !important;
  }
  .pho{
    margin-left: 0px !important;
  }
  .in2{
    margin-top: 10px;
    width: 300px;
    margin-left: 0px !important;
    
  }
  .input121{
    margin-top: 10px;
    width: 300px;
    margin-left: 0px !important;
  }
  .input21{
    margin-left: 0px !important;
  }
  .input211{
    width: 300px;
    margin-right: 90px;
    margin-top: 15px;
  }
  .input2111{
    width: 300px;
    margin-right: 30px;
    margin-top: 15px;
  }
   
}
.buttom{
  background-color: rgba(126, 161, 253, 1);
  border: none;
  width: 250px;
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.inpu{
  margin-left: 10px;
  margin-top: 10px;
  width: 300px;
}
.inpu1{
  margin-left: 45px;
  margin-top: 10px;
  width: 300px;
}
.inpu11{
  margin-left: 22px;
  margin-top: 10px;
  width: 300px;
}
.in{
  margin-left:60px;
  margin-top: 10px;
  width: 300px;
}
.in1{
  margin-top: 15px;
  width: 300px;
  margin-right: 35px;
}
.pho{
  margin-right: 12px;
}
.in2{
  margin-top: 10px;
  width: 300px;
  margin-left: 15px;
  
}
.comp{
  margin-right: 15px;
}
.input121{
  margin-top: 10px;
  width: 300px;
  margin-left: 18px;
}
.input1{
  margin-left: 10px;
  margin-top: 10px;
  width: 300px;
}
.input12{
  margin-left: 10px;
  width: 300px;
  margin-top: 10px;
}
.phone{
  margin-right: 30px;
}
.title{
  margin-left: 55px;
}
.email{
  margin-left: 35px;
}
.repass{
  margin-right: 60px;
}
.input211{
  width: 300px;
  margin-right: 110px;
  margin-top: 15px;
}
.input2111{
  width: 300px;
  margin-right: 50px;
  margin-top: 15px;
}


.input21{
  margin-top: 10px;
  width: 300px;
  margin-left: 15px;
}
.formlogin{
  padding-top: 5px;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
margin-left: 150px !important;
background-color: white;

}
.accountb{
  margin-left: 40px;
}
.forw{
  margin-left: 28px;
}

@media screen and (max-width : 480px) {
  .forw{
  margin-left: 0px;
  }
  .formlogin{
      padding-top: 5px;
      border: 1px solid black;
      width: 400px;
      height: 450px;
      padding-bottom: 10px;
  margin-left: 0px !important;
  background-color: white;
  
  }
  .loginform{
      width: 250px !important;
  }
  .loginbuton{
      width: 100px !important;
      height: 35px !important;
      padding-bottom: 35px;
  }
  .forgotpas{
      margin-left: 140px !important;
  }
  .creataccou{
      border: 1px solid black ;
      width: 400px;
      height: 400px;
      background-color: white;
      padding-top: 15px;
      margin-left: 0px !important;
      margin-top: 15px;
  }
  .freedd{
      display: none !important;
  }
  .inpu1{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .inpu{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .inpu11{
    margin-left: 0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .phone{
    margin-right:   0px;
  }
  .ti{
    margin-left: 0px !important;
  }
  .email{
    margin-left: 0px !important;
  }
  .repass{
    margin-right: 0px;
  }
  .Company{
    margin-left: 0px !important;
  }
  .Company1{
    margin-right: 0px ;
    margin-left: 0px !important;
  }
  .Company2{
    margin-right: 0px ;
  }
  .input12{
    margin-left: 0px !important;
    width: 300px;
    margin-top: 10px;
  }
  .in{
    margin-left:0px !important;
    margin-top: 10px;
    width: 300px;
  }
  .in1{
    margin-top: 0px;
    width: 300px;
    margin-left: 0px !important;
  }
  .pho{
    margin-left: 0px !important;
  }
  .in2{
    margin-top: 10px;
    width: 300px;
    margin-left: 0px !important;
    
  }
  .input121{
    margin-top: 10px;
    width: 300px;
    margin-left: 0px !important;
  }
  .input21{
    margin-left: 0px !important;
  }
  .input211{
    width: 300px;
    margin-right: 90px;
    margin-top: 15px;
  }
  .input2111{
    width: 300px;
    margin-right: 30px;
    margin-top: 15px;
  }
   
}
.buttom{
  background-color: rgba(126, 161, 253, 1);
  border: none;
  width: 250px;
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.inpu{
  margin-left: 10px;
  margin-top: 10px;
  width: 300px;
}
.inpu1{
  margin-left: 45px;
  margin-top: 10px;
  width: 300px;
}
.inpu11{
  margin-left: 22px;
  margin-top: 10px;
  width: 300px;
}
.in{
  margin-left:60px;
  margin-top: 10px;
  width: 300px;
}
.in1{
  margin-top: 15px;
  width: 300px;
  margin-right: 35px;
}
.pho{
  margin-right: 12px;
}
.in2{
  margin-top: 10px;
  width: 300px;
  margin-left: 15px;
  
}
.comp{
  margin-right: 15px;
}
.input121{
  margin-top: 10px;
  width: 300px;
  margin-left: 18px;
}
.input1{
  margin-left: 10px;
  margin-top: 10px;
  width: 300px;
}
.input12{
  margin-left: 10px;
  width: 300px;
  margin-top: 10px;
  margin-right: 15px;
}
.phone{
  margin-right: 30px;
}
.title{
  margin-left: 55px;
}
.email{
  margin-left: 35px;
}
.repass{
  margin-right: 60px;
}
.input211{
  width: 300px;
  margin-right: 110px;
  margin-top: 15px;
}
.input2111{
  width: 300px;
  margin-right: 50px;
  margin-top: 15px;
}

